<!-- Header -->
<div class="tm-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-4 col-sm-3 tm-site-name-container">
        <a href="#" class="tm-site-name">Holiday</a>
      </div>
      <div class="col-lg-6 col-md-8 col-sm-9">
        <div class="mobile-menu-icon">
          <i class="fa fa-bars"></i>
        </div>
        <nav class="tm-nav">
          <ul>
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a routerLink="/tours" routerLinkActive="active">Our Tours</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- Banner -->
<section class="tm-banner">
  <!-- Flexslider -->
  <div class="flexslider flexslider-banner">
    <ul class="slides">
      <li>
        <div class="tm-banner-inner">
          <h1 class="tm-banner-title">Find <span class="tm-yellow-text">Tour</span> Programs</h1>
          <p class="tm-banner-subtitle">For Your Destinations</p>
          <a href="#more" class="tm-banner-link">Learn More</a>
        </div>
        <img src="assets/img/banner-2.jpg" />
      </li>
      <li>
        <div class="tm-banner-inner">
          <h1 class="tm-banner-title">Lorem <span class="tm-yellow-text">Ipsum</span> Dolor</h1>
          <p class="tm-banner-subtitle">Wonderful Destinations</p>
          <a href="#more" class="tm-banner-link">Learn More</a>
        </div>
        <img src="assets/img/banner-3.jpg" />
      </li>
      <li>
        <div class="tm-banner-inner">
          <h1 class="tm-banner-title">Proin <span class="tm-yellow-text">Gravida</span> Nibhvell</h1>
          <p class="tm-banner-subtitle">Velit Auctor</p>
          <a href="#more" class="tm-banner-link">Learn More</a>
        </div>
        <img src="assets/img/banner-1.jpg" />
      </li>
    </ul>
  </div>
</section>

<router-outlet></router-outlet>

<footer class="tm-black-bg">
  <div class="container">
    <div class="row">
      <p class="tm-copyright-text">Copyright &copy; 2017

        | Designed by Nadeeshika Yakupitiya</p>
    </div>
  </div>
</footer>
